{% extends 'admin/layout.html' %} {% block title %}Product{% endblock %} {%
block main_conntent %}
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-6">
                    <h1 class="m-0" style="text-transform: uppercase">
                      <i class="fas fa-walking"></i>
                      Add New Product
                    </h1>
                  </div>
                  <div class="col-6">
                    <a href="{{ url_for('product') }}">
                      <button
                        type="button"
                        class="btn btn-outline-secondary float-right"
                      >
                        <i class="fas fa-arrow-circle-left"></i> Back To List
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="{{ url_for('add_product') }}" method="POST">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Product Name</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  required
                  autocomplete="off"
                  name="product_name"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Category</span>
                </div>
                <select class="form-control" name="category_id">
                  {% for item in rows %}
                  <option value="{{ item.category_id }}">
                    {{ item.category_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cost</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  required
                  autocomplete="off"
                  name="cost"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Price</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  required
                  autocomplete="off"
                  name="price"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Status</span>
                </div>
                <select class="form-control" name="status">
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
              </div>
              <input type="reset" class="btn btn-danger" value="Reset" />
              <input
                type="submit"
                class="btn btn-primary float-right"
                value="Save"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
