{% extends 'admin/layout.html' %} {% block title %}Currency{% endblock %} {%
block main_conntent %}
<!-- Main content -->
<br />
<div class="content">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-6">
                    <h1 class="m-0" style="text-transform: uppercase">
                      <i class="fas fa-walking"></i>
                      Update Currency
                    </h1>
                  </div>
                  <div class="col-6">
                    <a href="{{ url_for('currency') }}">
                      <button
                        type="button"
                        class="btn btn-outline-secondary float-right"
                      >
                        <i class="fas fa-arrow-circle-left"></i> Back To List
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="{{ url_for('edit_currency') }}" method="POST">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Name</span>
                </div>
                <input type="hidden" value="{{ rows[0].id }}" name="id">
                <input
                  type="text"
                  class="form-control"
                  required
                  autocomplete="off"
                  name="code"
                  value="{{ rows[0].code }}"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Symbol</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  required
                  autocomplete="off"
                  name="symbol"
                  value="{{ rows[0].symbol }}"
                />
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Is Default</span>
                </div>
                <select class="form-control" name="is_default">
                  <option value="True" {% if rows[0].is_default == 'True' %}selected{% endif %}>True</option>
                  <option value="False" {% if rows[0].is_default == 'False' %}selected{% endif %}>False</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Sell out price</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  required
                  autocomplete="off"
                  name="sell_out_price"
                  value="{{ rows[0].sell_out_price }}"
                />
              </div>
              <input type="reset" class="btn btn-danger" value="Reset" />
              <input
                type="submit"
                class="btn btn-primary float-right"
                value="Save"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
